<form method="post" action="/articles">
  Title:<input id="hidden" type="hidden" name="_method" value="PATCH">
  Content:<input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="submit" name="Submit">
</form>